# Logs
storage/logs/*.log
*.log

# Uploads
public/uploads/*
!public/uploads/.gitkeep

# Environment
.env
.env.backup
.env.production

# System and IDE
.DS_Store
Thumbs.db
.idea/
.vscode/

# Docker Local (Opcional si usas localmente)
Dockerfile
.dockerignore
